*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
  
  body {
    font-family: 'KIMM_Bold', sans-serif; 
  }




/* 헤드css */
    /* 햄버거 아이콘 스타일 */
    .hamburger {
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        margin: 5px;
        position: relative; /* top 값을 사용하기 위해 position 설정 */
        top: -4px; /* 원하는 top 위치 값으로 조정 */
        box-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.7);
      }
      
      /* 햄버거 메뉴바 스타일 */
      .menu-bar1 {
        position: fixed;
        top: 0;
        left: 180px;
        padding: 10px;
      }
      .menu-bar2 {
        position: fixed;
        top: 0;
        left: 120px;
        padding: 20px;
      }
  
  
      /* 메뉴바 스타일*/
      ul{
        padding-left: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    ul li{
        list-style: none;
    }
    ul li a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 14px;
        display: block;
        padding: 8px 15px;
        position: relative;
    }
    ul li a:before{
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgb(235, 133, 0);
        transform: scaleX(0);
        transform-origin: left;
        transition: all 0.5s;
    }
    ul li a:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgb(235, 133, 0);
        transform: scaleX(0);
        transform-origin: right;
        transition: all 0.5s;
    }
    /* 기존 스타일들 */
    .menu-list {
      display: flex;
      justify-content: space-between; /* 아이템들을 좌우 정렬로 배치합니다 */
      padding-left: 1300px; /* 좌측 간격 설정 */
      padding-right: 100px; /* 우측 간격 설정 */
  
  }
  
  .move-right {
      margin-left: auto; /* 오른쪽으로 이동 */
  }
  
  .move-right2 {
      margin-left: 2px; /* 추가 아이템 간격 조정 */
  }
  
  
    ul li a:hover{
        color: rgb(235, 133, 0);
    }
    ul li a:hover:before, ul li a:hover:after{
        transform: scalex(1);
    }
  
    .dropdown {
      position: relative;
      display: inline-block;
      
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: rgba(255, 255, 255, 0);
      min-width: 100px;
      z-index: 1;
      font-size: 5pt;
      white-space: nowrap;
      backdrop-filter: blur(80px);
  }
  
  .dropdown:hover .dropdown-content {
      display: block;
      
  }
  
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
  
  .dropdown-content a:hover {
      background-color: rgba(255, 255, 255, 0);
      }
  
    /*글씨쿼리*/
    @media screen and (max-width: 800px) {
      .menu-list {
        padding-left: 320px; /* ul의 패딩 값을 변경 */
        padding-right: 20px; /* 우측 간격 설정 */
      }
      .move-right a,.move-right2 a {
        padding: 8px 0px; /* 각각의 li의 a 태그 패딩 값을 변경 */
        font-size: 13px;
        position: relative; /* top 값을 사용하기 위해 position 설정 */
        top: -50px; /* 원하는 top 위치 값으로 조정 */
      }
    }
      /*햄버거 쿼리*/
    @media screen and (max-width: 800px) {
      .menu-bar2 {
          left: 20px; /* 원하는 간격으로 수정 */
          padding: 10px; /* 다른 스타일에 맞게 패딩 조정 */
          position: relative; /* top 값을 사용하기 위해 position 설정 */
          top: -8px; /* 원하는 top 위치 값으로 조정 */
      }
      
      .hamburger {
          margin: 5px 0; /* 해당 간격을 조정합니다. */
          margin-top: 5px;
          
      }
  }
  
  /* 로고쿼리*/
  @media screen and (max-width: 800px) {
    /* 이미지 컨테이너 스타일 */
    .image-container3 {
        width: 100%; /* 가로 중앙 정렬을 위해 너비를 100%로 설정 */
        text-align: center; /* 이미지를 중앙으로 정렬하기 위해 텍스트 정렬 속성 추가 */
    }
  
    .image-container3 img {
        width: 35px; /* 이미지의 원하는 너비 설정 */
        height: auto; /* 높이를 자동으로 조정하여 비율 유지 */
        /* 추가적인 스타일을 넣을 수 있습니다 */
    }
  }
  
  
  
  
  
  
    
  
  
  
  
      
      /* 이미지 컨테이너 스타일 */
      .image-container3 {
        display: flex;
        justify-content: center; /* 가로 가운데 정렬 */
        align-items: center; /* 세로 가운데 정렬 */
        width: 6px;
        height: 20%;
      }
      .image-container3 img {
        width: 35px; /* 이미지의 원하는 너비 설정 */
        height: auto; /* 높이를 자동으로 조정하여 비율 유지 */
        top: 0px;
  
        
      }
      
      /* 모피즘 효과 스타일 */
      .morphism {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 60px;
        background-color: rgba(239, 234, 234, 0.1);
        border-radius: 0px;
        box-shadow: 0px 0px 10px 5px rgb(187, 187, 187);
        backdrop-filter: blur(8px);
        z-index: 1; /* 다른 요소 위에 표시되도록 설정 */
        color: #ffffff; /* 글자색을 검정으로 설정 */
      }
  
  
  
  
  body, html {
      height: 100%;
      margin: 0;
  }
  .video-background {
    position: relative;
    width: 100%;
    height: 220vh; /* 뷰포트 높이로 설정 */
    overflow: hidden;
}

.video-background img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
    
    .video-container video {
      width: 100%;
      height: auto;
      display: block;
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
    }
      .overlay h1 {
        color: rgb(255, 255, 255);
        font-size: 6.5em;
        position: absolute;
        top: 41%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1; /* 이미지 위로 올라오도록 z-index 설정 */
      }
      .overlay p{
        font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, 
        Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", 
        "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
        font-size: 23px;
        font-weight: 300;
    
        line-height: 1.5; 
      }
      .in1{
        padding-top: 700px;
        margin-bottom: 150px;
      }
      .in2{
        padding-top: 240px;
      }
      
  
  /*메인글씨 쿼리*/
  @media screen and (max-width: 800px) {
    .overlay h1 .in1 {
        padding-top: 65%; /* 텍스트가 한 줄로 유지되도록 설정 */
        font-size: 30%;
    }
  }
  @media screen and (max-width: 800px) {
    .overlay h2 {
      font-size: 2.5em;
    }
    .overlay h1 {
      font-size: 2em;
      margin-top: -10px;
    }
    .overlay .in1{
        font-size: 9pt;
        margin-top: 350px;
        margin-bottom: 60px;
        padding: 10px;
    }
    .overlay .in2{
        font-size: 9pt;
        margin-top: 260px;
        padding: 0;
    }
  }
  
  
  
  /*메인 영상크키 줄이기 쿼리*/
  @media screen and (max-width: 800px) {
    .video-background {
        width: 100%; /* 비디오의 너비를 조정 */
        height: 100%; /* 비디오의 높이를 조정 */
        /* 다른 스타일 */
    }
    @media screen and (min-width: 801px) {
        .video-background img {
            width: 100%; /* 큰 화면일 때 width 100%로 설정 */
        }
    }
    .overlay {
        width: 100%; /* div의 너비를 조정 */
        height: auto; /* div의 높이를 조정 */
    }
  }









  .devel p{
    width: 100%;
    text-align: center;
    padding-top: 130px;
    font-size: 30px;
  }
  @media screen and (max-width: 800px) {
    .devel p{
        margin-top: -10%;
    }    
    .devel p{
        font-size: 18pt;
    }
  }
  .frame {
    width: 1160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.navigation {
    height: 240px;
    width: 100%;
    margin-top: 40px;
    font-size: 10px;
    background-color: rgb(169, 169, 169);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}


.navigation a {
    text-decoration: none;
    flex-grow: 1;
    flex-basis: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    transition: flex-grow 0.3s ease;
  
  

}

.contents a {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 1000px;
    height: 400px;

    transition: all 1s ease;
}

a h2{
    padding-top: 260px;
    color: white;
    font-size: 24px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 그림자 설정 */
}
a p{
    color: #ffffff;
    font-size: 20px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.9s ease;
}
.overlay p{
    margin-top: 250px;
    font-size: 15pt;
}

a .overlay{
    width: 400px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
}

a:hover {
    flex-grow: 1.5;
}
a:hover h2, a:hover p{
    opacity: 10;
}
.contents a:hover{
    height: 1500px;
}

#img1 {
    background-image: url(11111.png);
}
#img2 {
    background-image: url(222222.png);
}
#img3 {
    background-image: url(33333.png);
}
/* 기본 스타일 */

.devel p {
    width: 100%;
    text-align: center;
    padding-top: 130px;
    font-size: 30px;
}

.frame {
    width: 100%; /* 변경된 부분 */
    max-width: 1160px; /* 변경된 부분 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

/* 작은 화면에 대한 미디어 쿼리 */
@media screen and (max-width: 800px) {
    .devel p {
        margin-top: -10%;
        font-size: 18pt;
    }
    .frame{
        width: 600px;

    }
    a .overlay p{
        font-size: 8pt;
        margin-top: -100px;
    }
    a .overlay h2{
        font-size: 10pt;
        margin-bottom: -10px;

    }
}







.last {
    margin-top: 250px;
    position: relative;
    text-align: center;
}

.last img {
    width: 100%;
    display: block;
}

.last p {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 30px;
}

.map{
    margin-bottom: 220px;
}
.map p{
    position: absolute;
    margin-top: 10px;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 130px;
    font-size: 30px;
}
@media screen and (max-width: 800px) {
    .last p {
    font-size: 14pt;
    }
    .last img{
        margin-top: -30px;
    }
    .map p{
        font-size: 14pt;
        margin-top: -70px;
    }
    iframe{
        margin-top: 100px;
    }
    .map3{
        margin-top: -200px;
    }
}



hr {
    width: 78%;
}

.footer{
  margin-top: 20px;
  margin-left: 180px;
  font-size: 5em;
  margin-left: auto;
  margin-right: auto;
}
table {
  border-collapse: collapse;
}

td {
  padding-left: 10px;
  padding-top: 30px;
}

.left-bottom-align {
  text-align: left;
  vertical-align: bottom;
  width: 550px;
}
.lin{
  font-size: 10pt;
}
.info{
  font-size: 10pt;
  text-align: left;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, 
  Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", 
  "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  font-size: 13pt;
}

.room{
  background-color: #ffffff;
  width: 100%;
  height: 50px;
}
.room{
    background-color: #ffffff;
    width: 100%;
    height: 50px;
  }


/* 푸터 미디어쿼리*/
@media screen and (max-width: 800px) {
    td {
        display: block;
        width: 100;
        margin: 0;
    }
    tr{
        display: block;
        width: 100%;
    }
    .info {
        width: 640px;
        text-align: left;
    }
/* 화면이 768px 미만일 때 */
@media screen and (max-width: 800px) {
    .lin,
    .logogo {
        display: table-cell !important;
        text-align: initial !important;
        width: 300px;
    }
    .lin img{
        width: 80%;
    }

    .ttt .info td {
        display: table-cell !important;
        text-align: initial !important;
        width: 250px;
    }
}
/* 글씨 */
@media screen and (max-width: 800px) {
    td[style="width: 640px;"] {
        font-size: 60px; /* 폰트 크기 조정 */
    }
}
@media screen and (max-width: 800px) {
    .footer {
        padding-left: 80px; /* 왼쪽 패딩 값을 원하는 값으로 조정 */
    }
}

}