*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
  
  body {
    font-family: 'KIMM_Bold', sans-serif; 
  }
  /* 예시: div에 실선 테두리 추가 */
/* 모든 div에 실선 추가 */








/* 헤드css */
    /* 햄버거 아이콘 스타일 */
    .hamburger {
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        margin: 5px;
        position: relative; /* top 값을 사용하기 위해 position 설정 */
        top: -4px; /* 원하는 top 위치 값으로 조정 */
        box-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.7);
      }
      
      /* 햄버거 메뉴바 스타일 */
      .menu-bar1 {
        position: fixed;
        top: 0;
        left: 180px;
        padding: 10px;
      }
      .menu-bar2 {
        position: fixed;
        top: 0;
        left: 120px;
        padding: 20px;
        
      }
  
  
      /* 메뉴바 스타일*/
      ul{
        padding-left: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    ul li{
        list-style: none;
    }
    ul li a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 14px;
        display: block;
        padding: 8px 15px;
        position: relative;
    }
    ul li a:before{
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgb(235, 133, 0);
        transform: scaleX(0);
        transform-origin: left;
        transition: all 0.5s;
    }
    ul li a:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgb(235, 133, 0);
        transform: scaleX(0);
        transform-origin: right;
        transition: all 0.5s;
    }
    /* 기존 스타일들 */
    .menu-list {
      display: flex;
      justify-content: space-between; /* 아이템들을 좌우 정렬로 배치합니다 */
      padding-left: 1300px; /* 좌측 간격 설정 */
      padding-right: 100px; /* 우측 간격 설정 */
  }
  .move-right {
      margin-left: auto; /* 오른쪽으로 이동 */
  }
  
  .move-right2 {
      margin-left: 2px; /* 추가 아이템 간격 조정 */
  }
  
  
    ul li a:hover{
        color: rgb(235, 133, 0);
    }
    ul li a:hover:before, ul li a:hover:after{
        transform: scalex(1);
    }
  
        /*드롭다운*/
    .dropdown {
        position: relative;
        display: inline-block;
        
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0);
        min-width: 100px;
        z-index: 1;
        font-size: 5pt;
        white-space: nowrap;
        backdrop-filter: blur(80px);
    }

    .dropdown:hover .dropdown-content {
        display: block;
        
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: rgba(255, 255, 255, 0);
        }










    
  
    /*글씨쿼리*/
    @media screen and (max-width: 800px) {
      .menu-list {
        padding-left: 320px; /* ul의 패딩 값을 변경 */
        padding-right: 20px; /* 우측 간격 설정 */
      }
      .move-right a,.move-right2 a {
        padding: 8px 0px; /* 각각의 li의 a 태그 패딩 값을 변경 */
        font-size: 13px;
        position: relative; /* top 값을 사용하기 위해 position 설정 */
        top: -50px; /* 원하는 top 위치 값으로 조정 */
      }
    }
      /*햄버거 쿼리*/
    @media screen and (max-width: 800px) {
      .menu-bar2 {
          left: 20px; /* 원하는 간격으로 수정 */
          padding: 10px; /* 다른 스타일에 맞게 패딩 조정 */
          position: relative; /* top 값을 사용하기 위해 position 설정 */
          top: -8px; /* 원하는 top 위치 값으로 조정 */
      }
      
      .hamburger {
          margin: 5px 0; /* 해당 간격을 조정합니다. */
          margin-top: 5px;
          
      }
  }
  
  /* 로고쿼리*/
  @media screen and (max-width: 800px) {
    /* 이미지 컨테이너 스타일 */
    .image-container3 {
        width: 100%; /* 가로 중앙 정렬을 위해 너비를 100%로 설정 */
        text-align: center; /* 이미지를 중앙으로 정렬하기 위해 텍스트 정렬 속성 추가 */
    }
  
    .image-container3 img {
        width: 35px; /* 이미지의 원하는 너비 설정 */
        height: auto; /* 높이를 자동으로 조정하여 비율 유지 */
        /* 추가적인 스타일을 넣을 수 있습니다 */
    }
  }








    /* 이미지 컨테이너 스타일 */
    .image-container3 {
        display: flex;
        justify-content: center; /* 가로 가운데 정렬 */
        align-items: center; /* 세로 가운데 정렬 */
        width: 6px;
        height: 20%;
      }
      .image-container3 img {
        width: 35px; /* 이미지의 원하는 너비 설정 */
        height: auto; /* 높이를 자동으로 조정하여 비율 유지 */
        top: 0px;
  
        
      }
      /* 모피즘 효과 스타일 */
      .morphism {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 60px;
        background-color: rgba(239, 234, 234, 0.1);
        border-radius: 0px;
        box-shadow: 0px 0px 10px 5px rgb(187, 187, 187);
        backdrop-filter: blur(8px);
        z-index: 1; /* 다른 요소 위에 표시되도록 설정 */
        color: #ffffff; /* 글자색을 검정으로 설정 */
      }
  







      body, html {
        height: 100%;
        margin: 0;
    }
    .video-background {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        background-image: url('ur.png'); /* 이미지 파일 경로 설정 */
        background-size: cover; /* 이미지를 요소에 맞게 확장 */
        background-position: center; /* 이미지를 가운데 정렬 */
    }
    
    /* 기타 스타일은 그대로 유지 */
    
      .video-background video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1000;
      }
      .video-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      
      .video-container video {
        width: 100%;
        height: auto;
        display: block;
      }
      .overlay {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.9)); /* 그라데이션 범위 조절 */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .overlay h2 {
        color: white;
        font-size: 3em;
        position: absolute;
        top: 600px; 
        right: 140px 
      }
      .overlay h1 {
        color: white;
        font-size: 5em;
        position: absolute;
        top: 660px; 
        right: 140px; 
      }


    .content{
        width: 1430px;
        padding-top: 700px;
    }

    .white-boxes {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px; /* 필요에 따라 위 여백 조정 */
        text-align: left;
    }
    
    .white-box {
        width: calc(100% / 3); /* 각 상자 너비를 1/3로 설정 */
        height: 85px;
        box-sizing: border-box;
        border: 01px solid #ffffff;
        color: #ffffff;
        display: flex;
        justify-content: center; /* 내용을 왼쪽으로 정렬 */
        align-items: center;
    }   
    .white-box p {
        margin-left: 20px; /* 왼쪽 마진 추가 */
        text-align: left;
    }


    /* 미디어 쿼리-메인이미지 */
    @media screen and (max-width: 800px) {
        .video-background {
            width: 100%;
            height: 100%;
            background-image: url('ur2.png'); /* 이미지 파일 경로 설정 */
            background-size: cover; /* 이미지를 요소에 맞게 확장 */
            background-position: center; /* 이미지를 가운데 정렬 */
            top: 0;
        }
        .content{
            width: 650px;
        }      
        .white-box {
            height: 70px;
            width: 50%; /* 화면이 작아질 때 상자 너비를 1/2로 변경 */
        }
        .white-box p{
            font-size: 70%;

        }
        .white-boxes{
            width: 90%;
            margin-top: -80px;
            white-space: nowrap;
        }
    
        .white-box:nth-child(1) {
            width: 70%; /* 첫 번째, 두 번째 상자 너비를 100%로 변경 */
            margin: 0;
        }
        .white-box:nth-child(2){
            width: 50%;
        }    
        .white-box:nth-child(2) {
            align-self: flex-start; /* 두 번째 상자를 위로 정렬 */
        }
    }





    .album{
        width: 100%;
        height: 780px;

    }

    .text{
        text-align: center;
        padding-top: 130px;
        font-size: 30px;
    }
    .container {
        display: flex;
        width: 1160px;
        height: 400px;
        gap: 40px;
        margin-top: 50px;
    }
    
    .box-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        
    }
    .box {
        flex: 1;
        position: relative;
        width: 200px;
        height: 200px;
        background-image: url('이미지_주소');
        background-size: cover;
        overflow: hidden;
    }
    
    .box-1{
        width: 601px; /* 1번, 2번 상자의 너비 */
        height: 100px; /* 1번, 2번 상자의 높이 */
        background-color: #f0f0f0;
    }
    .box-2 {
        width: 601px; /* 1번, 2번 상자의 너비 */
        height: 200px; /* 1번, 2번 상자의 높이 */
        background-color: #f0f0f0;
    }
    
    .box-3 {
        width: 450px; /* 3번 상자의 너비 */
        height: 720px; /* 3번 상자의 높이 */
        background-color: #ccc;
    }
    .box-1 img,
    .box-2 img,
    .box-3 img {
        max-width: 100%; /* 이미지의 최대 너비를 부모 요소에 맞춰 설정 */
        height: auto; /* 비율 유지를 위해 높이 자동으로 조절 */
        display: block; /* 인라인 요소들의 공백 제거 */
    }

    .box:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    
    .box p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: bold;
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    
    .box:hover::before {
        opacity: 1;
    }
    
    .box:hover p {
        opacity: 1;
    }
    @media screen and (max-width: 768px) {
        .container {
            width: 120%; /* 예시를 위해 너비를 조정 */
            margin-top: 20px; /* 예시를 위해 여백을 조정 */
            margin-left: auto;
            flex-direction: row;
            gap: 10px;
        }
        .box-container{
            width: 50%;
            display: flex; /* Flexbox를 사용하여 요소들을 가로로 배치 */
            margin: 0;
            gap: 10px;
        }
        
        .box {
            width: 100%; /* 상자 전체 너비를 사용자 화면 크기에 맞춰 조정 */
            height: auto; /* 높이를 자동 조정하여 비율 유지 */
        }
        .box-1 {
            height: 150px; /* 예시를 위해 높이를 조정 */
        }
    
        .box-2 {
            height: 250px; /* 예시를 위해 높이를 조정 */
        }
    
        .box-3 {
            width: 70%; /* 3번 상자 너비를 사용자 화면 크기에 맞춰 조정 */
            height: 400px;
            margin-top: 0;
            display: flex; /* 가로로 배치하기 위해 flex 속성 추가 */
            flex-direction: row; /* 가로로 배치 */
        }
    
        .box-3 img,
        .box-3 video {
            max-width: 100%; /* 이미지의 최대 너비를 부모 요소에 맞춰 설정 */
            height: auto; /* 비율 유지를 위해 높이 자동으로 조절 */
            display: block; /* 인라인 요소들의 공백 제거 */
        }
        .album{
            height: 52%;
        }
        .text2 p{
            font-size: 55%;
            margin-top: -40px;
        }
        .text3 p{
            font-size: 80%;
            margin-top: -45px;
        }
        .text3 p{
            margin-bottom: -30px;
        }
        .text{
            font-size: 140%;
            margin-top: 50%;
        }
        .videoo{
            margin-bottom: 70px;
        }
    }
    
    






    .text {
        margin-top: 90px;
        text-align: center;
        padding: 10px;
    }
    .text2{            
        text-align: center;
        margin-top: 20px; /* 부모 div와의 간격 */
        font-size: 18px;
        font-weight: bold;
        line-height: 1.7; /* 라인 높이를 텍스트 폰트 사이즈의 1.5배로 설정 */
        font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, 
        Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", 
        "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
        font-size: 20px;
        font-weight: 200;
    }
    




    .turn360{
        width: 100%;
        height: 500px;
    }


    .text3{
        text-align: center;
        padding-top: 130px;
        font-size: 30px;
    }
.videoo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}







.btn a{
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    
}

.btn {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    font-size: 25px;
    padding: 5px 30px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 7px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: sans-serif;
    transition: all 0.4s;
    
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background-color: rgb(235, 133, 0);
    color: white;
    border: 1px solid rgb(255, 255, 255);
}
.btn:hover a{
    color: white;
}










hr {
    width: 78%;
}

.footer{
  margin-top: 20px;
  margin-left: 180px;
  font-size: 5em;
  margin-left: auto;
  margin-right: auto;
}
table {
  border-collapse: collapse;
}

td {
  padding-left: 10px;
  padding-top: 30px;
}

.left-bottom-align {
  text-align: left;
  vertical-align: bottom;
  width: 550px;
}
.lin{
  font-size: 10pt;
}
.info{
  font-size: 10pt;
  text-align: left;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, 
  Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", 
  "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  font-size: 13pt;
}

.room{
  background-color: #ffffff;
  width: 100%;
  height: 50px;
}


/* 푸터 미디어쿼리*/
@media screen and (max-width: 800px) {
    td {
        display: block;
        width: 100;
        margin: 0;
    }
    tr{
        display: block;
        width: 100%;
    }
    .info {
        width: 640px;
        text-align: left;
    }
/* 화면이 768px 미만일 때 */
@media screen and (max-width: 800px) {
    .lin,
    .logogo {
        display: table-cell !important;
        text-align: initial !important;
        width: 300px;
    }
    .lin img{
        width: 80%;
    }

    .ttt .info td {
        display: table-cell !important;
        text-align: initial !important;
        width: 250px;
    }
}
/* 글씨 */
@media screen and (max-width: 800px) {
    td[style="width: 640px;"] {
        font-size: 60px; /* 폰트 크기 조정 */
    }
}
@media screen and (max-width: 800px) {
    .footer {
        padding-left: 80px; /* 왼쪽 패딩 값을 원하는 값으로 조정 */
    }
}

}























